####################################
# C/C++ Compiled Files / Build Artifacts
####################################
# Object files
*.o
*.obj
*.lo
*.slo

# Precompiled headers
*.pch
*.gch

# Static & dynamic libraries
*.lib
*.a
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Intermediate files / build results
[Dd]ebug/
[Rr]elease/
x64/
build/
bin/
obj/
*.ilk
*.meta
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.tlog
*.vspscc
*.vssscc
*.builds

####################################
# Visual Studio / IDE specific
####################################
*.suo
*.user
*.sln.docstates
*.vs
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.psess
*.vsp
*.vspx

####################################
# Fortran / other compiled files
####################################
*.d
*.mod
*.smod
*.lai
*_i.c
*_p.c

####################################
# Don't ignore models or assets
####################################
!**/models/**

####################################
# Vendor folders - always track these
####################################
!Engine/vendor/glfw-3.4/
!Engine/vendor/glfw-3.4/**
!Engine/vendor/Assimp/
!Engine/vendor/Assimp/**

# Explicitly track .lib files in vendor folders
!Engine/vendor/glfw-3.4/**/*.lib
!Engine/vendor/Assimp/**/*.lib